<%- include('parts/head') -%>
<%- include('parts/nav') -%>
<div class="text-box">
      <h2>Scratch for Discord</h2>
      <p>Make a bot without coding</p>
      <a href="" class="button-uwu">Learn more</a>
    </div>

    </section>
     <!---Section 2 Info--->
     
     
     <section id="info" > 
      <div class="title-text">
        <p>
         Info 
        </p>
        <h3>
          All <i>you</i> need to know about s4d
        </h3>
        </div>
      <div class="info-box" >
        <div class="features">
          <h2>
            Easy to use
          </h2>
          <div class="features-desc">
            <div class="feature-icon">
              <i class="material-icons">timer</i>
            </div>
            <div class="feature-text">
              <p>Does not require any coding knowledge, faster to code a Discord bot using our app</p>
            </div>
          </div>
          <div class="features">
          <h2>
            Free hosting
          </h2>
          <div class="features-desc">
            <div class="feature-icon">
              <i class="material-icons">cloud_upload</i>
            </div>
            <div class="feature-text">
              <p>You can host your own bot for free using repl.it and soon our host</p>
            </div>
          </div>
          <div class="features">
          <h2>
            Open-source
          </h2>
          <div class="features-desc">
            <div class="feature-icon">
              <i class="material-icons">folder_open</i>
            </div>
            <div class="feature-text">
              <p>Open source, code is available on GitHub you can check it out there</p>
            </div>
          </div>
        </div>

         
      </div>
     </section>

<section id="about" style="background-color:#f7f5f5">
 <div class="title-text">
        <p>
         About
        </p>
        </div>
<div class="main">
  <img src="images/commands.png">
  <div class="about-text">
      <h2>How it started?</h2>
      <h4>Almost an year ago</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        <br> printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        <br> essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      <br>
    
          </div>
  </div>
</div>


</section>



  <%- include('parts/foot') -%>